body {
  font-family: "Lato", sans-serif;  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: black;
  background-color: #D3ECA7;
}

.list {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar{
  background-color: #19282F;
}

#nav-title{
  color: #B33030;
  font-weight: bolder;
  margin: 5px;
}

.card {
  position: relative;
  display:inline-flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #A1B57D;
  background-clip: border-box;
  border: 2px solid #B33030;
  border-radius: 30px;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin: 45px;
}

.is-hidden { display: none; }

.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#B33030 50%, white 50%);
  border-radius: 100%;
  border: 2px solid black;
}
.card-title {
  padding: 10px;
}
.card-title h5:first-letter {
  text-transform: uppercase;
}
.modal-title h1:first-letter {
  text-transform: uppercase;
}

#pokemon-button{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: smaller;
  padding: 6px;
}
.modal-content {
  background-color: #A1B57D;
}