:root {
  --primary-color: #DFDFDF;
  --secondary-color:#FB1B1B;
}

body {
  font-family: "Lato", sans-serif;  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: black;
  background-color: var(--primary-color);
}

.list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  display:inline-flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--primary-color);
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin: 45px;
}
.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--secondary-color) 50%, white 50%);
  border-radius: 100%;
  border: 2px solid black;
}
.card-title {
  padding: 10px;
}
.card-title h5:first-letter {
  text-transform: uppercase;
}
.modal-title h1:first-letter {
  text-transform: uppercase;
}

#pokemon-button{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: small;
  padding: 6px;
}